body {
      padding: 10px 2%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      overflow: hidden!important;
  }
  
  a {
      text-decoration: none;
  }
  
  a:-webkit-any-link {
      color: black;
      cursor: pointer;
  }

  .table {
    overflow: scroll;
    overflow-y: visible;
    padding: 10px 10px;
}

.vote_table {
      display: flex;
      justify-content: space-between;
  }
  
  .bld {
      font-weight: bold;
      font-size: 25px;
      margin-top: 50px;
      background: #B2CCBC;
      color: #008435;
      padding: 10px 10px;
      border-radius: 5px;
      
  }
  
  .vote_table_div {
      width: calc(100%/3);
  }
  
  .vote_tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 20px;
    background: rgb(230 230 230);
    padding: 10px 10px;
    border-radius: 5px;
}

.elec_cand_name {
    display: block!important;
    justify-content: unset!important;
    background: none!important;
}

.cand_no_cover {
    display: flex;
    align-items: center;
}

.elec_cand_no {
    border: 1px solid gray;
    background: gray;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px;
    font-size: 10px;
    /* margin: 10px 10px; */
}

.vt_back {
    background: rgb(236, 236, 236);
    border: 1px solid lightgray;
    padding: 10px 0px;
    border-radius: 5px;
    margin: 20px 0px;
}


  .vt12 {
      padding-left: 10px;
      font-size: 10em;
  }
  
  .vt2 {
      display: flex;
      justify-content: center;
      /* background: yellow; */
  }
  
  .vt3 {
      display: flex;
      justify-content: flex-end;
      /* background: blue; */
  }
  
  .vt3 span {
      /* background: pink; */
      width: 100px;
      display: flex;
      justify-content: center;
  }
  

  
@media (max-width: 500px) {
    .bld, .vt_back {
        width: 150%;
    }

    /*scroll vote table*/
    .vote_data_parent {
    overflow: scroll!important;
    }

    .back_btn {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    .profile_pic {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }
}